@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-jet-black text-white;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
  
  .shadow-text {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8), 0 2px 4px rgba(0, 0, 0, 0.7);
  }
}

/* NProgress customization */
#nprogress .bar {
  background: theme('colors.primary.600') !important;
  height: 3px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px theme('colors.primary.600'), 0 0 5px theme('colors.primary.600') !important;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #3a4154;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #525a70;
}
